apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: trackmygym
spec:
  selector:
    app: weather-service
  ports:
  - port: 5004
    targetPort: 5004
    protocol: TCP
  type: ClusterIP