apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: trackmygym
spec:
  selector:
    app: user-service
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
  type: ClusterIP